.button-div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.button-div button{
    cursor: pointer;
    padding: 10px 10px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}